
input[type=text], input[type=email] , input[type=number] {
    width: 80%;
    padding: 5px 22px;
    margin: 10px 0px;
    box-sizing: border-box;  
    border: 2px solid #58B19F;
    border-radius:30px;

}



input[type=submit] {
    background-color: #0d208f;
    border: solid black;
    border-radius: 30px;
    color: white;
    padding: 8px 36px;
    text-decoration: none;
    border: 2px solid #ccc;
    margin: 5px 4px;
    cursor: pointer;  

}
.n{
font-size: 30px;
text-align: center;

}
form{
margin:auto;

}